/* line 1, ../sass/common/_typo.scss */
body {
  font-family: "Raleway", sans-serif;
}
/* line 4, ../sass/common/_typo.scss */
body .page-title {
  color: rgba(0, 0, 0, 0.12);
  display: block;
  font-size: 80px;
  font-weight: bold;
  line-height: 80px;
  position: relative;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 40px;
  width: 100%;
}
/* line 16, ../sass/common/_typo.scss */
body .page-sub-title {
  display: block;
  font-size: 50px;
  font-weight: bold;
  position: relative;
  letter-spacing: 2px;
  margin-bottom: 0px;
  color: #141521;
  margin-top: 100px;
}

@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
/* line 19, ../sass/common/_animate.scss */
.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

/* line 29, ../sass/common/_animate.scss */
.hireUsBanner {
  background: #141521;
  color: #fff;
  top: 50px;
  font-size: 27px;
  padding: 0 20px;
  position: absolute;
  line-height: 55px;
  left: 100px;
  right: auto;
  font-weight: 500;
  letter-spacing: 5px;
}
/* line 41, ../sass/common/_animate.scss */
.hireUsBanner:after {
  content: "";
  bottom: -24px;
  border-top: 24px solid #141521;
  border-right: 24px solid transparent;
  position: absolute;
  left: 24px;
  bottom: -23px;
  top: auto;
  right: auto;
  width: 0;
  height: 0;
}

/* line 55, ../sass/common/_animate.scss */
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

/* Accordion styles */
/* line 5, ../sass/common/_accordion.scss */
.tabs {
  overflow: hidden;
}

/* line 8, ../sass/common/_accordion.scss */
.tab {
  border-bottom: 1px solid #141521;
  width: 100%;
  color: #141521;
  overflow: hidden;
}
/* line 13, ../sass/common/_accordion.scss */
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #ffffff;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}
/* line 21, ../sass/common/_accordion.scss */
.tab-label::after {
  content: "\02795";
  font-size: 21px;
  color: #0abde3;
  float: right;
  margin-left: 5px;
  padding: 15px 0px;
}
/* line 30, ../sass/common/_accordion.scss */
.tab-img {
  width: 60px;
  border-radius: 30px;
  height: 60px;
}
/* line 35, ../sass/common/_accordion.scss */
.tab-title {
  font-size: 20px;
  width: calc(100% - 210px);
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  height: 60px;
}
/* line 43, ../sass/common/_accordion.scss */
.tab-content {
  padding: 0 20px;
  background-color: #141521;
  color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  -webkit-clip-path: polygon(5% 13%, 100% 12%, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(5% 13%, 100% 12%, 100% 100%, 0 100%, 0 0);
}
/* line 53, ../sass/common/_accordion.scss */
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
/* line 60, ../sass/common/_accordion.scss */
.tab-close:hover {
  background: #1a252f;
}
/* line 64, ../sass/common/_accordion.scss */
.tab input {
  display: none;
}

/* line 72, ../sass/common/_accordion.scss */
input:checked + .tab-label::after {
  content: "\2796";
}
/* line 76, ../sass/common/_accordion.scss */
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

/* line 2, ../sass/common/_header.scss */
.tuples-header {
  background: #141521;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
/* line 9, ../sass/common/_header.scss */
.tuples-header .d-flex {
  height: 80px;
}
/* line 12, ../sass/common/_header.scss */
.tuples-header .brand {
  margin: 0;
}
/* line 14, ../sass/common/_header.scss */
.tuples-header .brand a, .tuples-header .brand img {
  display: block;
}
/* line 18, ../sass/common/_header.scss */
.tuples-header .navigator-toggle {
  color: #ffffff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
  margin-left: auto;
  position: relative;
}
/* line 30, ../sass/common/_header.scss */
.tuples-header .navigator-toggle span {
  font-size: 20px;
  text-transform: uppercase;
}
/* line 33, ../sass/common/_header.scss */
.tuples-header .navigator-toggle span i {
  display: inline;
  margin-left: 20px;
}
/* line 38, ../sass/common/_header.scss */
.tuples-header .navigator-toggle .icon {
  display: block;
  width: 100%;
  height: 2px;
  margin-top: -1px;
  right: auto;
  bottom: auto;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
}
/* line 49, ../sass/common/_header.scss */
.tuples-header .navigator-toggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/* line 69, ../sass/common/_header.scss */
footer {
  background-color: #141521;
  color: #ffffff;
  padding: 60px 0;
}
/* line 73, ../sass/common/_header.scss */
footer .mid-footer {
  text-align: center;
}
/* line 75, ../sass/common/_header.scss */
footer .mid-footer .footerdetail {
  width: 230px;
  text-align: left;
  margin: auto;
  margin-bottom: 20px;
}
/* line 80, ../sass/common/_header.scss */
footer .mid-footer .footerdetail p {
  font-size: 16px;
}
/* line 84, ../sass/common/_header.scss */
footer .mid-footer .sociallinks {
  border-bottom: 1px solid #0abde3;
  display: block;
  list-style: none;
  font-size: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
/* line 91, ../sass/common/_header.scss */
footer .mid-footer .sociallinks li {
  display: inline-block;
}
/* line 93, ../sass/common/_header.scss */
footer .mid-footer .sociallinks li a {
  color: #0abde3;
}
/* line 99, ../sass/common/_header.scss */
footer .footerscroll {
  text-align: center;
}
/* line 101, ../sass/common/_header.scss */
footer .footerscroll i {
  font-weight: 900;
  font-size: 50px;
}

/* line 1, ../sass/common/_nav.scss */
.tuples-navigation {
  z-index: 900;
  font-size: 16px;
  line-height: 1.846;
  height: 100%;
  padding: 10px 20px;
  width: 320px;
  background: #141521;
  border-left: 1px solid #ededed;
  color: rgba(255, 255, 255, 0.25);
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  right: -320px;
  top: 0;
  transition: all ease 0.7s;
}
/* line 17, ../sass/common/_nav.scss */
.tuples-navigation.open {
  right: 0;
}
/* line 20, ../sass/common/_nav.scss */
.tuples-navigation .name {
  text-align: center;
  padding-top: 30px;
}
/* line 23, ../sass/common/_nav.scss */
.tuples-navigation .name a {
  color: #0abde3;
}
/* line 27, ../sass/common/_nav.scss */
.tuples-navigation .close {
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  margin: 15px 0px 15px 0px;
}
/* line 32, ../sass/common/_nav.scss */
.tuples-navigation .close a {
  background: #000;
  padding: 10px 15px;
}
/* line 37, ../sass/common/_nav.scss */
.tuples-navigation .nav-list {
  font-size: 16px;
  margin: 10px 0 10px 0;
  padding: 0 0 10px 0;
  list-style: none;
  counter-reset: ctr;
}
/* line 43, ../sass/common/_nav.scss */
.tuples-navigation .nav-list li {
  border-top: 1px solid rgba(255, 255, 255, 0.04);
  line-height: 50px;
  position: relative;
  text-align: center;
}
/* line 49, ../sass/common/_nav.scss */
.tuples-navigation .nav-list li.active a {
  color: #0abde3;
}
/* line 54, ../sass/common/_nav.scss */
.tuples-navigation .nav-list li a:hover {
  color: #0abde3;
}
/* line 60, ../sass/common/_nav.scss */
.tuples-navigation .social-links {
  position: absolute;
  bottom: 100px;
  right: 65px;
  list-style: none;
  display: inline-block;
  font-size: 20px;
  margin: 0;
  text-align: center;
}
/* line 69, ../sass/common/_nav.scss */
.tuples-navigation .social-links li {
  display: inline-block;
  margin-right: 12px;
  padding-left: 0;
}
/* line 73, ../sass/common/_nav.scss */
.tuples-navigation .social-links li a {
  color: #0abde3;
}

/* line 1, ../sass/pages/_home.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 5, ../sass/pages/_home.scss */
img {
  max-width: 100%;
}

/* line 8, ../sass/pages/_home.scss */
a {
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

/* line 14, ../sass/pages/_home.scss */
.d-flex {
  display: flex;
}

/* line 17, ../sass/pages/_home.scss */
.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: cent;
}

/* line 28, ../sass/pages/_home.scss */
.hire .service {
  margin-top: 100px;
}
/* line 30, ../sass/pages/_home.scss */
.hire .service span {
  display: block;
  text-align: center;
  font-size: 28px;
  color: #141521;
  font-weight: 100;
}
/* line 37, ../sass/pages/_home.scss */
.hire .service .img-wrap {
  height: 200px;
  margin: 50px 0;
}
/* line 40, ../sass/pages/_home.scss */
.hire .service .img-wrap img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* line 46, ../sass/pages/_home.scss */
.hire .service .message {
  background: #141521;
  color: #fff;
  font-size: 25px;
  text-align: center;
  padding: 20px;
  position: relative;
  height: 100px;
}
/* line 54, ../sass/pages/_home.scss */
.hire .service .message:after {
  bottom: auto;
  top: -24px;
  border-bottom: 24px solid #141521;
  border-left: 24px solid transparent;
  left: auto;
  right: 0;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

/* line 71, ../sass/pages/_home.scss */
.team {
  margin: 100px 0;
}
/* line 73, ../sass/pages/_home.scss */
.team img {
  width: 100%;
}

/* line 81, ../sass/pages/_home.scss */
.what-we-do .page-title {
  font-weight: 800;
  letter-spacing: 15px;
  text-align: center;
  margin-bottom: 100px;
}
/* line 88, ../sass/pages/_home.scss */
.what-we-do .img-wrap {
  height: 350px;
}
/* line 90, ../sass/pages/_home.scss */
.what-we-do .img-wrap img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

/* line 100, ../sass/pages/_home.scss */
.our-mission {
  background-color: #141521;
  margin: 100px 0;
}
/* line 103, ../sass/pages/_home.scss */
.our-mission .mission-container {
  padding: 0px 50px;
  padding-top: 100px;
}
/* line 106, ../sass/pages/_home.scss */
.our-mission .mission-container .description {
  color: #fff;
  display: block;
  letter-spacing: 2px;
  font-size: 18px;
  margin-top: 150px;
}
/* line 114, ../sass/pages/_home.scss */
.our-mission .mission-container .img-wrap img {
  margin-top: 100px;
  margin-bottom: 50px;
}
/* line 120, ../sass/pages/_home.scss */
.our-mission .mission-container .page-title {
  font-weight: 800;
  letter-spacing: 15px;
  text-align: center;
  margin-bottom: 100px;
  color: #31313c;
  position: relative;
  max-width: 1300px;
  margin: auto;
}
/* line 130, ../sass/pages/_home.scss */
.our-mission .mission-container .page img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
/* line 135, ../sass/pages/_home.scss */
.our-mission .mission-container .page span {
  display: block;
  text-align: center;
  font-size: 28px;
  color: #141521;
  font-weight: 100;
}
/* line 143, ../sass/pages/_home.scss */
.our-mission .mission-container .hireUsBanner {
  background: #ffffff;
  color: black;
}
/* line 146, ../sass/pages/_home.scss */
.our-mission .mission-container .hireUsBanner:after {
  border-top: 24px solid #ffffff;
}
