.tuples {
    &-header {
        background: $primary-color;
        height: 80px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999;
        .d-flex {
            height: 80px;
        }
        .brand {
            margin: 0;
            a, img {
                display: block;
            }
        }
        .navigator-toggle {
            color: $white;
            cursor: pointer;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-bottom: 0;
            margin-left: auto;
            position: relative;
            span {
                font-size: 20px;
                text-transform: uppercase;
                i {
                    display: inline;
                    margin-left: 20px;
                }
            }
            .icon {
                display: block;
                width: 100%;
                height: 2px;
                margin-top: -1px;
                right: auto;
                bottom: auto;
                background-color: $white;
                position: absolute;
                top: 50%;
            }
            input {
                display: block;
                width: 40px;
                height: 32px;
                position: absolute;
                top: -7px;
                left: -5px;
                
                cursor: pointer;
                
                opacity: 0; /* hide this */
                z-index: 2; /* and place it over the hamburger */
                
                -webkit-touch-callout: none;
            }
        }
    }
}


footer {
  background-color: #141521;
  color: #ffffff;
  padding: 60px 0;
  .mid-footer {
    text-align: center;
    .footerdetail{
        width: 230px;
        text-align: left;
        margin: auto;
        margin-bottom: 20px;
        p {
            font-size: 16px;;
        }
    }
    .sociallinks {
        border-bottom: 1px solid $link-color;
        display: block;
        list-style: none;
        font-size: 20px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        li {
            display: inline-block;
            a {
                color: $link-color;
            }
        }
    }
  }
  .footerscroll {
      text-align: center;
    i {
        font-weight: 900;
        font-size: 50px;
    }
  }
}