.tuples {
    &-header {
        background: $primary-color;
        height: 80px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999;
        .d-flex {
            height: 80px;
        }
        .brand {
            margin: 0;
            a, img {
                display: block;
            }
        }
        .navigator-toggle {
            color: $white;
            cursor: pointer;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-bottom: 0;
            margin-left: auto;
            position: relative;
            span {
                font-size: 20px;
                text-transform: uppercase;
                i {
                    display: inline;
                    margin-left: 20px;
                }
            }
            .icon {
                display: block;
                width: 100%;
                height: 2px;
                margin-top: -1px;
                right: auto;
                bottom: auto;
                background-color: $white;
                position: absolute;
                top: 50%;
            }
            input {
                display: block;
                width: 40px;
                height: 32px;
                position: absolute;
                top: -7px;
                left: -5px;
                
                cursor: pointer;
                
                opacity: 0; /* hide this */
                z-index: 2; /* and place it over the hamburger */
                
                -webkit-touch-callout: none;
            }
        }
    }
}
